apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - ../../base

patches:
  - path: patches/replicas-patch.yaml
    target:
      kind: Deployment
